# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build
dist/

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
.vercel
.env*
.wwebjs_auth
.wwebjs_cache
backend/.wwebjs_auth
backend/.wwebjs_cache
